<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <!-- Add this to the main document -->
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <header class="header_div--container">
        <nav>
            <h2 id="logo">Rebecca Ngo</h2>
            <ul>
                <nav class="header_nav--mobile hidden">
                    <img alt="toggle-menu" src="../assets/menu.svg"/>
                    <ul class='hidden'>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Education</a></li>
                        <li><a href="#">Experience</a></li>
                    </ul>            
                </nav>
                <nav class="header_nav--tabletDesktop">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Experience</a></li>
                </nav>
            </ul>
        </nav>
    </header>
</body>
</html>