// VARIABLES 
    //TEXT
$Paragraph-font:  'Raleway', sans-serif;
$Headers-font: 'Ubuntu', sans-serif;
    //COLOUR PALETTE
$Primary: rgb(199, 120, 53);
$Secondary: rgb(213, 212, 218);
$Tertiary: rgb(175, 121, 85);
$Text: rgb(38, 27, 33);
    //MEDIA QUERY BREAKS
$mobile: 320px;
$tablet: 768px;
$desktop: 1440pxs;

//MIXINS

@mixin sectionPadding {
    margin: 2rem;
    padding: 0.25rem;
}

// GENERAL ----------------------------------
html,body{
    background-color: $Secondary;
    font-family: $Paragraph-font;
    margin: 0px;
    padding: 0px;
    h*{
        font-family: $Headers-font;
    }
}

h4{
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    font-size: 13px;
    & *{
        text-decoration: none;
        color: $Text;
    }
}

ul{ 
    padding-left: 1rem;
    li{
        list-style: square;
        a{
            text-decoration: none;
            color: $Text;
        }    
    }
}

//HEADER ----------------------------------------------------
.header_div--container{
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    @include sectionPadding();
    border-bottom: solid black 2px;
    @media ( max-width: $mobile) {
        flex-direction: column;  
    }
        .header_div--name{
            display: flex;
            flex-direction: column;
            justify-content: space-between;    
            @media ( max-width: $mobile) {
                margin-bottom: 0.25rem;  
            }
        
            h1{
                margin: 0;
            }
            h6{
                margin-bottom: 0.25rem;
            }
        }
    .div--contactInfo{
        padding: auto 1rem;
    }
}

.navbar--tabletDesk{
    display: flex;
    justify-content: space-evenly;
    & > *, & *{
        display: inline-block;
    }
}

// RESUME SECTIONS & SUBHEADINGS 
#technicalExp{
    // border: solid black 2px;
}

//MAIN------------------------------------------

main{
    @include sectionPadding();
}

//FOOTER -------------------------------

footer{

}